{
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties"
  ],
  "presets": [
    ["latest", {"es2015": {"modules": false}}],
    "react"
  ],
  "env": {
    "start": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}
